@import '../../themes/common.scss';

.header-title-container {
    padding-right: 12px;

    .header-title {
        margin-top: 60px;
        background-color: white;
        padding-left: 21px;
        padding-right: 12px;
        padding-top: 7px;
        box-shadow: #4a4a4a 0px 2px 4px;
        border-radius: 12px;
        min-height: 54px;
    }
}