@import '../../themes/common.scss';

.nav-bar-container {
    display: flex;
    padding: 2vh;
    width: 100vw;
    background-color: white;
    @include boxShadow(0px, 0px, 7px);

    @include desktop {
        padding: 3vh;
    }

    .logo-container {
        font-family: 'Montserrat', sans-serif;
        font-size: 28px;
        color: #4a4a4a;
        cursor: pointer;

        @include mobile {
            font-size: 22px;
        }
    }
}